.kanban {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #00000010;
}

.task {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07);
  border-radius: 8px;
}

.kanban .col {
  width: 200px;
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12); */
  /* border-radius: 8px; */
  min-height: 80vh;
  border: 1px solid #00000010;
}

.kanban .col .title {
  padding: 10px;
  border-bottom: 1px solid #00000008;
  font-weight: bold;
}

.kanban .col .tasks {
  min-height: 200px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
